.container {
  margin-right: auto;
  margin-left: auto;
  &:before,
  &:after {
    content: " ";
    display: table;
  };
  &:after {
    clear: both;
  }
}

.row {
  &:before,
  &:after {
    content: " ";
    display: table;
  };
  &:after {
    clear: both;
  }
  *zoom:1;
  _zoom:1;
}

.col-main {
  .make-column(910px);
}

.col-side {
  .make-column(290px);
}

.col-content-head {
  .make-column(80px);
}

.col-content-body {
  .make-column(790px);
}

.col-p50 {
  .make-column(50%);
}

